$_main_text_color: #fff;
$_main_bg_color: #000;
$_main_color: #c287e0;
$_bg_section_color: #270931;
$_navigation_color: #f3d9ff;
$_numbers_color: #660e92;
$_links_color: #d9c0f2;
$_statistic_color: #acc0fd;
$_yellow_color: #f6d527;
$_star_color: #e7ca56;
$_gray_color: #d9d9d9;
