<section id="gallery" class="game-features">
  <div class="container">
    <h2 class="section-title">Game Features</h2>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <swiper-slide>
        <img src="/img/game-features/1.png" />
      </swiper-slide>
      <swiper-slide>
        <img src="/img/game-features/2.png" />
      </swiper-slide>
      <swiper-slide>
        <img src="/img/game-features/3.png" />
      </swiper-slide>
      <swiper-slide>
        <img src="/img/game-features/4.png" />
      </swiper-slide>
      <swiper-slide>
        <img src="/img/game-features/5.png" />
      </swiper-slide>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
