<header class="header">
  <button
    class="burger-menu-btn js-open-menu"
    type="button"
    title="open mobile menu"
  >
    <svg class="burger-menu-icon" width="40" height="40">
      <use href="./img/sprite.svg#icon-Burgermenu"></use>
    </svg>
  </button>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="#about" class="header-nav-link">About the Game</a>
      </li>
      <li class="header-nav-item">
        <a href="#gallery" class="header-nav-link">Gallery</a>
      </li>
      <li class="header-nav-item">
        <a href="#play" class="header-nav-link">How to Play</a>
      </li>
      <li class="header-nav-item">
        <a href="#reviews" class="header-nav-link">Reviews</a>
      </li>
      <li class="header-nav-item">
        <a href="#faq" class="header-nav-link">FAQ</a>
      </li>
    </ul>
  </nav>
</header>
