<header class="header">
  <button class="burger-menu-btn" type="button">
    <svg class="burger-menu-icon" width="40" height="40">
      <use href="./img/sprite.svg#icon-Burgermenu"></use>
    </svg>
  </button>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="" class="header-nav-link">About the Game</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link">Gallery</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link">How to Play</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link">Reviews</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link">FAQ</a>
      </li>
    </ul>
  </nav>
</header>
