<section class="hero-section">
  <div class="blur-overlay"></div>
  <div class="hero-container">
    <picture class="hero-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/logo-jewels-1x-desk.png 1x,
          ./img/hero/logo-jewels-2x-desk.png 2x
        "
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ./img/hero/logo-jewels-1x-mob.png 1x,
          ./img/hero/logo-jewels-2x-mob.png 2x
        "
      />
      <img src="./img/hero/logo-jewels-1x-desk.png" alt="logo and jewels" />
    </picture>

    <div class="hero-text-container">
      <p class="hero-text">
        Unveil the secrets of a magical kingdom with
        <span class="hero-select-text"> Story of Alcana: Match 3</span>, where
        every match brings you closer to mastering powerful spells!
      </p>

      <a
        href="https://play.google.com/store/apps/details?id=com.YovoGames.magicBook"
        class="hero-google-play-link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Download Story of Alcana on Google Play"
      ></a>
    </div>
  </div>
</section>
