<section id="play" class="section how-to-play">
  <div class="container">
    <h2 class="section-title">How to Play</h2>

    <ul class="grid-container">
      <li class="grid-item">
        <span class="number">01</span>
        <div class="item-content">
          <h3>Collect Gems</h3>
          <p>
            Swap adjacent gems to create rows or columns of three or more
            matching ones.
          </p>
          <div class="media-container">
            <video
              class="play-video"
              preload="none"
              muted
              loop
              disablePictureInPicture
              poster="./img/how-to-play/1.png"
              data-src="./img/how-to-play/video1.mp4"
            >
              <source type="video/mp4" />
            </video>
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">02</span>
        <div class="item-content">
          <h3>Create Special Gems</h3>
          <p>
            Match four or more gems to create special gems with unique effects.
          </p>
          <div class="media-container">
            <video
              class="play-video"
              preload="none"
              muted
              loop
              disablePictureInPicture
              poster="./img/how-to-play/2.png"
              data-src="./img/how-to-play/video2.mp4"
            >
              <source type="video/mp4" />
            </video>
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">03</span>
        <div class="item-content">
          <h3>Remove Obstacles</h3>
          <p>
            Remove obstacles like vines, stone blocks, and more by matching
            nearby gems.
          </p>
          <div class="media-container">
            <video
              class="play-video"
              preload="none"
              muted
              loop
              disablePictureInPicture
              poster="./img/how-to-play/3.png"
              data-src="./img/how-to-play/video3.mp4"
            >
              <source type="video/mp4" />
            </video>
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">04</span>
        <div class="item-content">
          <h3>Complete Levels</h3>
          <p>
            Complete levels by collecting specific gems or achieving score
            targets.
          </p>
          <div class="media-container">
            <img
              src="./img/how-to-play/4.png"
              alt="Complete Levels"
              class="play-img"
            />
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">05</span>
        <div class="item-content">
          <h3>Use Boosters</h3>
          <p>
            Utilize special boosters to help clear challenging levels. Collect
            them all.
          </p>
          <div class="media-container">
            <video
              class="play-video"
              preload="none"
              muted
              loop
              disablePictureInPicture
              poster="./img/how-to-play/5.png"
              data-src="./img/how-to-play/video5.mp4"
            >
              <source type="video/mp4" />
            </video>
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">06</span>
        <div class="item-content">
          <h3>New Challenges</h3>
          <p>
            Progress through the map by completing levels and unlocking new
            challenges.
          </p>
          <div class="media-container">
            <img
              src="./img/how-to-play/6.png"
              alt="Complete Levels"
              class="play-img"
            />
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">07</span>
        <div class="item-content">
          <h3>Participate in Events</h3>
          <p>Join special events and challenges for additional rewards.</p>
          <div class="media-container">
            <img
              src="./img/how-to-play/7.png"
              alt="Complete Levels"
              class="play-img"
            />
          </div>
        </div>
      </li>

      <li class="grid-item">
        <span class="number">08</span>
        <div class="item-content">
          <h3>Compete with Friends</h3>
          <p>
            Compare scores and compete with friends by connecting the game to
            social media.
          </p>
          <div class="media-container">
            <img
              src="./img/how-to-play/8.png"
              alt="Complete Levels"
              class="play-img"
            />
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper">
      <div class="swiper-wrapper">
        <swiper-slide class="grid-item">
          <span class="number">01</span>
          <div class="item-content">
            <h3>Collect Gems</h3>
            <p>
              Swap adjacent gems to create rows or columns of three or more
              matching ones.
            </p>
            <div class="media-container">
              <video
                class="play-video"
                preload="none"
                muted
                loop
                disablePictureInPicture
                poster="./img/how-to-play/1.png"
                data-src="./img/how-to-play/video1.mp4"
              >
                <source type="video/mp4" />
              </video>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">02</span>
          <div class="item-content">
            <h3>Create Special Gems</h3>
            <p>
              Match four or more gems to create special gems with unique
              effects.
            </p>
            <div class="media-container">
              <video
                class="play-video"
                preload="none"
                muted
                loop
                disablePictureInPicture
                poster="./img/how-to-play/2.png"
                data-src="./img/how-to-play/video2.mp4"
              >
                <source type="video/mp4" />
              </video>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">03</span>
          <div class="item-content">
            <h3>Remove Obstacles</h3>
            <p>
              Remove obstacles like vines, stone blocks, and more by matching
              nearby gems.
            </p>
            <div class="media-container">
              <video
                class="play-video"
                preload="none"
                muted
                loop
                disablePictureInPicture
                poster="./img/how-to-play/3.png"
                data-src="./img/how-to-play/video3.mp4"
              >
                <source type="video/mp4" />
              </video>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">04</span>
          <div class="item-content">
            <h3>Complete Levels</h3>
            <p>
              Complete levels by collecting specific gems or achieving score
              targets.
            </p>
            <div class="media-container">
              <img
                src="./img/how-to-play/4.png"
                alt="Complete Levels"
                class="play-img"
              />
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">05</span>
          <div class="item-content">
            <h3>Use Boosters</h3>
            <p>
              Utilize special boosters to help clear challenging levels. Collect
              them all.
            </p>
            <div class="media-container">
              <video
                class="play-video"
                preload="none"
                muted
                loop
                disablePictureInPicture
                poster="./img/how-to-play/5.png"
                data-src="./img/how-to-play/video5.mp4"
              >
                <source type="video/mp4" />
              </video>
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">06</span>
          <div class="item-content">
            <h3>Compete with Friends</h3>
            <p>
              Compare scores and compete with friends by connecting the game to
              social media.
            </p>
            <div class="media-container">
              <img
                src="./img/how-to-play/6.png"
                alt="Complete Levels"
                class="play-img"
              />
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">07</span>
          <div class="item-content">
            <h3>Participate in Events</h3>
            <p>Join special events and challenges for additional rewards.</p>
            <div class="media-container">
              <img
                src="./img/how-to-play/7.png"
                alt="Complete Levels"
                class="play-img"
              />
            </div>
          </div>
        </swiper-slide>

        <swiper-slide class="grid-item">
          <span class="number">08</span>
          <div class="item-content">
            <h3>Compete with Friends</h3>
            <p>
              Compare scores and compete with friends by connecting the game to
              social media.
            </p>
            <div class="media-container">
              <img
                src="./img/how-to-play/8.png"
                alt="Complete Levels"
                class="play-img"
              />
            </div>
          </div>
        </swiper-slide>
      </div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
