<div class="backdrop js-menu-container">
  <div class="modal">
    <button
      class="modal-close-button js-close-menu"
      type="button"
      title="close mobile menu"
    >
      <svg class="modal-close-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-Close"></use>
      </svg>
    </button>

    <nav>
      <ul class="modal-list">
        <li class="modal-list-item">
          <a href="#about" class="modal-link header-link-js">About the Game</a>
        </li>
        <li class="modal-list-item">
          <a href="#gallery" class="modal-link header-link-js">Gallery</a>
        </li>
        <li class="modal-list-item">
          <a href="#play" class="modal-link header-link-js">How to Play</a>
        </li>
        <li class="modal-list-item">
          <a href="#reviews" class="modal-link header-link-js">Reviews</a>
        </li>
        <li class="modal-list-item">
          <a href="#faq" class="modal-link header-link-js">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
