<section class="section">
  <div class="container">
    <h2 class="section-title">Play Responsibly</h2>
    <div class="responsibly-container">
      <div class="text-container">
        <p>
          Playing games should always be fun and enjoyable. However, it's
          important to play responsibly and in moderation.
        </p>
        <ul class="responsibly-list">
          <li class="responsibly-item">
            Take regular breaks and be mindful of your time.
          </li>
          <li class="responsibly-item">
            Avoid letting gaming interfere with your daily responsibilities or
            well-being.
          </li>
          <li class="responsibly-item">
            If gaming negatively affects your life, seek guidance or support.
          </li>
        </ul>
        <p>Play wisely, stay balanced, and enjoy the game responsibly!</p>
      </div>
      <div class="responsibly-img-container">
        <picture class="responsibly-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/play-responsibly/play-responsibly-1x-desk.png 1x,
              ./img/play-responsibly/play-responsibly-2x-desk.png 2x
            "
          />
          <source
            media="(max-width: 1339px)"
            srcset="
              ./img/play-responsibly/play-responsibly-1x-mob.png 1x,
              ./img/play-responsibly/play-responsibly-2x-mob.png 2x
            "
          />
          <img
            src="./img/play-responsibly/play-responsibly-1x-desk.png"
            alt="logo and jewels"
          />
        </picture>
        <a
          href="https://play.google.com/store/apps/details?id=com.YovoGames.magicBook"
          class="responsibly-google-play-link"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
</section>
