<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
  </div>

  <div class="reviews-swiper swiper">
    <div class="swiper-wrapper">
      <swiper-slide>
        <p class="review-text">
          "Story of Alcana is a great game for relaxing after a long day. The
          soundtrack is soothing."
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Emma W.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <p class="review-text">
          "I can’t get enough of Story of Alcana. Every level is a new
          adventure!"
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Alexander J.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <p class="review-text">
          "The variety of levels keeps the game interesting. I’m always looking
          forward to the next one."
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Lucas T.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <p class="review-text">
          "I love Story of Alcana. I can’t get enough of the storyline and the
          music."
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Emily S.</p>
        </div>
      </swiper-slide>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
