<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
  </div>

  <div class="swiper reviews-slider">
    <div class="swiper-wrapper">
      <swiper-slide class="review-item">
        <p class="review-text">
          "Story of Alcana is a great game for relaxing after a long day. The
          soundtrack is soothing."
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Emma W.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "I can’t get enough of Story of Alcana. Every level is a new
          adventure!"
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Alexander J.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "The variety of levels keeps the game interesting. I’m always looking
          forward to the next one."
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Lucas T.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "The daily rewards are great. They help me progress through the game."
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Ava R.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "I love competing with my friends for the highest score. The social
          features are great!"
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Henry F.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "The special events are exciting. I always look forward to them!"
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Isabella C.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "Story of Alcana is the best match-3 game I’ve played. The fantasy
          theme is really fun!"
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Ethan G.</p>
        </div>
      </swiper-slide>
      <swiper-slide class="review-item">
        <p class="review-text">
          "The levels are challenging but not impossible. Perfect for any skill
          level!"
        </p>
        <div class="review-author">
          <img src="/img/favicon.svg" />
          <p>Mia S.</p>
        </div>
      </swiper-slide>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
