<section class="section">
  <div class="container">
    <ul class="statistic-list">
      <li class="statistic-item">
        <h3 class="statistic-title">1000+ Reviews</h3>
        <div class="statistic-rating-container">
          <p class="statistic-text">4,8</p>
          <svg class="star-icon" width="32" heigth="32">
            <use href="./img/sprite.svg#icon-Star"></use>
          </svg>
        </div>
      </li>
      <li class="statistic-item">
        <h3 class="statistic-title">Downloads</h3>
        <p class="statistic-text">50 000+</p>
      </li>
      <li class="statistic-item">
        <h3 class="statistic-title">Game mode</h3>
        <p class="statistic-text">Online/Offline</p>
      </li>
    </ul>
  </div>
</section>
