.about-the-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
  }

  .image-wrapper {
    position: absolute;
    left: -193px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    width: 474px;

    @include media(desktop) {
      top: 40px;
      left: -400px;
      width: 938px;
    }

    img {
      height: 238px;

      @include media(desktop) {
        height: 470px;
      }
    }
  }

  .about-the-game-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 262px;

    @include media(desktop) {
      width: 100%;
      gap: 32px;
      margin-top: 0;
    }

    p {
      @include font(16, 20);
      line-height: 24px;

      @include media(desktop) {
        align-self: flex-end;
        @include font(20, 30);
        line-height: 30px;
        width: 50%;
      }
    }
  }
}

.about-the-game .image-wrapper,
.about-the-game .about-the-game-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.about-the-game .image-wrapper {
  transform: translateX(-100px);
}

.about-the-game .about-the-game-text {
  transform: translateX(100px);
}

.about-the-game.in-view .image-wrapper,
.about-the-game.in-view .about-the-game-text {
  opacity: 1;
  transform: translateX(0);
}
