.agreements-container {
  padding: 24px 16px 48px 16px;
  background-color: $_bg_section_color;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 320px;

  @include media(desktop) {
    width: 1280px;
    padding: 90px 72px;
  }
}

.arrow-icon {
  stroke: $_links_color;
  margin-right: 8px;
}

.privacy-link {
  display: flex;
  align-items: center;
  color: $_links_color;
  @include font(16, 24);
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 80px;
  }

  &:hover {
    color: $_main_text_color;
    transition: color 200ms linear;
  }

  &:hover .arrow-icon {
    stroke: $_main_text_color;
    transition: stroke 200ms linear;
  }
}

.agreements-title {
  font-family: 'Alegreya', sans-serif;
  @include font(32, 48);
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;

  @include media(desktop) {
    @include font(40, 60);
    margin-bottom: 72px;
  }
}

.agreements-paragraph-title {
  font-family: 'Alegreya', sans-serif;
  @include font(20, 30);
  font-weight: 700;
  margin: 48px 0 24px 0;
  color: $_main_color;

  @include media(desktop) {
    @include font(24, 36);
    margin: 32px 0 8px 0;
  }
}

.agreements-paragraphs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.agreements-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.agreements-item {
  position: relative;
  padding-left: 20px;

  @include media(desktop) {
    padding-left: 28px;
  }
}

.agreements-item::before {
  content: '.';
  position: absolute;
  left: 0;
  top: 4px;
  margin: 0 4px;
  @include font(28, 0);

  @include media(desktop) {
    @include font(36, 0);
    margin: 0 8px;
  }
}

.agreements-uppercase-text {
  text-transform: uppercase;
  font-weight: 700;
  @include font(16, 24);
}

.agreements-list-title {
  margin: 32px 0 16px 0;
  @include font(20, 30);
  font-weight: 400;

  @include media(desktop) {
    margin: 48px 0 16px 0;
    @include font(24, 36);
  }
}

.agreements-bold-text {
  font-weight: 700;
}
