html {
  scroll-padding-top: 24px;

  @include media(desktop) {
    scroll-padding-top: 100px;
  }
}

.header {
  height: 100px;
  position: relative;
}

.header-container {
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    background-color: $_bg_section_color;
    justify-content: center;
  }
}

.header-nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 38px 0;
    color: $_navigation_color;
  }
}

.header-nav-item {
  padding-right: 40px;
  position: relative;
}

.header-nav-item:not(:last-child)::after {
  content: '.';
  color: $_yellow_color;
  @include font(28, 0);
  top: 8px;
  right: -4px;
  position: absolute;
}

.header-nav-link:hover {
  color: $_main_text_color;
  transition: color 200ms linear;
}

.burger-menu-icon {
  fill: $_gray_color;
}

.burger-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $_bg_section_color;
  border-radius: 8px;
  border: none;
  top: 24px;
  right: 16px;
  padding: 0;
  margin: 24px 16px 0;
  width: 40px;
  height: 40px;

  @include media(desktop) {
    display: none;
  }

  &:hover .burger-menu-icon {
    fill: $_main_color;
    transition: fill 200ms linear;
  }
}

.burger-menu-icon {
  fill: $_gray_color;
}
