.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 200ms linear;

  @include media(desktop) {
    display: none;
  }
}

.is-open {
  transform: translateX(0);
  transition: transform 200ms linear;
}

.modal {
  position: absolute;
  background-color: $_bg_section_color;
  top: 0;
  right: 0;
  padding: 96px 16px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button {
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 0;
  width: 40px;
  height: 40px;

  &:hover .modal-close-icon {
    fill: $_main_color;
    transition: fill 200ms linear;
  }
}

.modal-close-icon {
  fill: $_gray_color;
}

.modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.modal-list-item {
  padding-bottom: 32px;
  position: relative;
}

.modal-list-item:not(:last-child)::after {
  content: '.';
  color: $_yellow_color;
  @include font(28, 0);
  position: absolute;
  bottom: 8px;
  left: 50%;
}

.modal-link {
  color: $_links_color;

  &:hover {
    color: $_main_text_color;
    transition: color 200ms linear;
  }
}
