.faq {
  .faq-item {
    padding: 16px 0;

    @include media(desktop) {
      padding: 16px;
    }

    .faq-question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      gap: 16px;

      @include media(desktop) {
        gap: 20px;
      }

      .number {
        @include font(24, 40);
        color: $_numbers_color;

        @include media(desktop) {
          @include font(40, 60);
          padding: 0 20px;
        }
      }

      .question {
        @include font(16, 24);
        width: 100%;
        color: $_main_color;
        line-height: 24px;

        @include media(desktop) {
          @include font(24, 28);
          line-height: 36px;
        }
      }

      .toggle-icon {
        position: relative;
        display: block;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        color: $_main_color;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include font(24, 40);
        @include media(desktop) {
          @include font(40, 60);
        }

        .plus {
          position: absolute;
          top: -18px;
          left: 0;
          width: 10px;
          height: 10px;
          transform: translate(-50%, -50%);
          @include media(desktop) {
            top: -18px;
            left: 0;
            width: 24px;
            height: 24px;
          }
          span {
            display: inline-block;
            transform: rotate(0deg);
            opacity: 1;
            transition: transform 0.7s ease-in-out;
          }
        }

        .minus {
          position: absolute;
          transform: translate(-50%, -50%);
          display: inline-block;
          top: -20px;
          left: 0;
          width: 10px;
          height: 10px;
          transition: transform 0.3s ease-in-out;
          opacity: 0;
          @include media(desktop) {
            top: -22px;
            left: -1px;
            width: 24px;
            height: 23px;
          }
        }
      }
    }

    .faq-answer {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
      margin-left: 0;
      padding: 8px 0 0 0 !important;
      @include media(desktop) {
        margin-left: 106px;
      }

      p {
        @include font(16, 20);
        line-height: 24px;

        @include media(desktop) {
          @include font(20, 30);
          line-height: 30px;
        }
      }
    }

    &.active {
      .faq-answer {
        max-height: 500px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .toggle-icon {
        .plus span {
          opacity: 0;
          transform: rotate(360deg);
          transition: transform 0.5s ease-in-out;
          animation: identifier 0.5s ease-in-out;
        }
        @keyframes identifier {
          0% {
            opacity: 1;
            transform: rotate(0deg);
          }
          100% {
            opacity: 0;
            transform: rotate(180deg);
          }
        }
        @keyframes identifierminus {
          0% {
            opacity: 0;
            transform: rotate(180deg);
          }
          100% {
            opacity: 0;
            transform: rotate(0deg);
          }
        }
        .minus {
          opacity: 1;
          transition: transform 0.3s ease-in-out;
          animation: identifierminus 0.3s ease-in-out;
        }
      }
    }
  }
}
