@import './header.scss';
@import './hero.scss';
@import './about-the-game.scss';
@import './game-features.scss';
@import './how-to-play.scss';
@import './reviews.scss';
@import './questions-and-answers.scss';
@import './play-responsibl.scss';
@import './footer.scss';
@import './agreements.scss';
@import './privacy-policy.scss';
@import './terms-and-conditions.scss';

:root {
  font-family: 'Open Sans', sans-serif;
  @include font(16, 24);
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $_main_text_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include media(desktop) {
    @include font(20, 30);
  }
}

.section {
  padding: 40px 16px;
  width: 320px;

  @include media(desktop) {
    padding: 80px 72px;
    width: 1440px;
  }
}
