@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,700;1,700&display=swap');

@import './header.scss';
@import './hero.scss';
@import './statistic.scss';
@import './mobile-menu.scss';
@import './about-the-game.scss';
@import './game-features.scss';
@import './how-to-play.scss';
@import './reviews.scss';
@import './questions-and-answers.scss';
@import './play-responsibly.scss';
@import './footer.scss';
@import './agreements.scss';
@import './slider.scss';

:root {
  font-family: 'Open Sans', sans-serif;
  @include font(16, 24);
  font-weight: 400;

  color: $_main_text_color;
  background-color: $_bg_section_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include media(desktop) {
    @include font(20, 30);
  }
}

.section {
  padding: 40px 16px;

  @include media(desktop) {
    padding: 80px 72px;
  }
}

.section-title {
  font-family: 'Alegreya', sans-serif;
  @include font(32, 48);
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;

  @include media(desktop) {
    @include font(40, 60);
    margin-bottom: 72px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

html {
  scroll-padding-top: 24px;

  @include media(desktop) {
    scroll-padding-top: 100px;
  }
}
